language: php

os:
  - linux

php:
  - 7.3

services:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE db_catalog'

before_script:
  - composer self-update
  - composer install --no-interaction

script:
  - vendor/bin/phpunit